                            /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
                            /* ------------------------------------------ MELKOR GLOBAL FRAMEWORK CSS ------------------------------------------ */
                            /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */


.flexed {
	display: -webkit-flex;
	display: flex;
}

.flexed-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
}

.flexed-column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column; 
}

.flex-nogrow {
  -webkit-flex-grow: 0;
	-moz-flex-grow: 0;
	flex-grow: 0;
}

.half, .one-third, .one-fourth, .one-fifth {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  flex-shrink: 1;
}

.half {
	width: 50%;
}

.one-third {
	width: calc(100% / 3);
}

.one-fourth {
	width: 25%;
}

.one-fifth {
	width: 20%;
}

.bold {
	font-weight: bold;
}

.faded-out, .faded {
	visibility: hidden;
	opacity: 0;
}

.faded-in {
	visibility: visible;
	opacity: 1;
}

.slide-down, .slide-up {
  max-height: 0;
  overflow-y: hidden;
}

.slide-down {
  max-height: 100vh;
}


/* §§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
/* ----------------------------------------------------------- MEMO FLEXBOX ----------------------------------------------------------- */
/*
display: flex; => initie la flex box
flex-direction: row / row-reverse / column / column-reverse; => direction du flex
flex-wrap: wrap / nowrap; => retour ou non à la ligne
flex-flow => direction + wrap
justify-content: center / flex-start / flex-end / space-around / space-between; => position des éléments de la flex-box
align-items: flex-start / center / flex-end / strech; => alignement vertical des éléments de la flex-box
align-content: flex-start / center / flex-end / space-around / space-between; => position des éléments de la flex-box de manière verticale si plusieurs lignes
order => ordre des éléments de la flex-box
flex-grow => gestion de l'augmentation de la taille d'un élément en fonction de l'espace restant
flex-shrink => gestion de la réduction de la taille d'un élément en fonction de l'espace restant
*/